<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="daoFactoryBean" class="com.tabuyos.spring.factory.DaoFactoryBean">
        <property name="msg" value="msg1,msg2,msg3"></property>
    </bean>
</beans>